@font-face {
  font-family: 'Golos Regular';
  src: url('./assets/font/golos-text_regular.ttf');
}

@font-face {
  font-family: 'Golos DemiBold';
  src: url('./assets/font/golos-text_demibold.ttf');
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  background-color: #1f1f1f;
  font-family: 'Golos Regular';
  color: white;
}
